@using System.Collections
@using KanbanTracker.Classes
@using KanbanTracker.Models
@using MongoDB.Bson
@using MongoDB.Driver
@model KanbanTracker.Models.BugViewModel

@functions {
    public MongoCollection<User> Open;
    public MongoCollection<Project> ProjectOpen;
}

@{
    Open = UserDb.Open();
    ProjectOpen = ProjectDb.Open();
    var individualProject = (Project) ProjectOpen.FindOneById(ObjectId.Parse(@ViewBag.id));
    var bug = individualProject.Bugs.Find(s => s.Id == @ViewBag.bugId);
    var comments = bug.Comments.OrderByDescending(d => d.Created);
    var commentCount = 0;
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@bug.Title</h1>
            </hgroup>
            @using (Html.BeginForm("bug_Edit", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <textarea class="form-control description" data-val="true" data-val-required="The Description field is required." id="Description" name="Description">@bug.Description</textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" data-val="true" data-val-required="The Title field is required." id="Id" name="Id" value="@bug.Id" type="hidden"/>
                        <input class="form-control" data-val="true" data-val-required="The Title field is required." id="ProjectId" name="ProjectId" value="@individualProject.Id" type="hidden"/> 
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Assigned, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <select name="Assigned">
                            <option value="@bug.Assigned" selected="selected">@KanbanTracker.Classes.User.GetUserFromId(@bug.Assigned)</option>
                            @foreach (var user in Open.FindAll())
                            {
                                <option value="@user.Id">@user.UserName</option>
                            }
                        </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Status">Status</label>
                    <div class="col-md-10">
                        <select id="Status" name="Status">
                            <option value="@bug.Status" selected="selected">@bug.Status</option>
                            <option value="backlog">Backlog</option>
                            <option value="readytogo">Ready to go</option>
                            <option value="development">Development</option>
                            <option value="codereview">Code Review</option>
                            <option value="testing">Testing</option>
                            <option value="complete">Complete</option>
                            <option value="accepted">Accepted</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Update bug" />
                    </div>
                </div>
                
                
            }<a href="/projects/bug_delete/@individualProject.Id?bugId=@bug.Id">Delete bug</a>
        
            <h2>Comments</h2>
            <hr/>
            

            @foreach (var comment in comments)
            {
                if (commentCount%2 == 0)
                {
                    <div class="evenComment">
                        <p>@comment.Created, @comment.Description</p>
                        <sup>@KanbanTracker.Classes.User.GetUserFromId(@comment.OwnerId)</sup>
                    </div>
                }

                else
                {
                    <div class="oddComment">
                        <p>@comment.Created, @comment.Description</p>
                        <sup>@KanbanTracker.Classes.User.GetUserFromId(@comment.OwnerId)</sup>
                    </div>
                }

                commentCount++;
            }
            
            @using (Html.BeginForm("Comment_Create", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <textarea class="form-control" data-val="true" data-val-required="The Description field is required." id="Description" name="Description"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" data-val="true" id="ElementId" name="ElementId" value="@bug.Id" type="hidden"/>
                        <input class="form-control" data-val="true" id="ProjectId" name="ProjectId" value="@individualProject.Id" type="hidden"/> 
                        <input class="form-control" data-val="true" id="ElementType" name="ElementType" value="bug" type="hidden"/> 
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="create comment" />
                    </div>
                </div>
            }

        </div>
    </section>
    
</div>

