@using KanbanTracker.Classes
@using KanbanTracker.Models
@using MongoDB.Driver
@model KanbanTracker.Models.BugViewModel

@functions {
    public MongoCollection<User> Open;
}

@{
    Open = UserDb.Open();
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Create a new Bugs</h1>
            </hgroup>
            @using (Html.BeginForm("Bug_Create", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control description" })
                    </div>
                </div>
                
               <div class="form-group">
                    <label class="col-md-2 control-label" for="Status">Status</label>
                    <div class="col-md-10">
                        <select id="Status" name="Status">
                            <option value="backlog">Backlog</option>
                            <option value="readytogo">Ready to go</option>
                            <option value="development">Development</option>
                            <option value="codereview">Code Review</option>
                            <option value="testing">Testing</option>
                            <option value="complete">Complete</option>
                            <option value="accepted">Accepted</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Assigned, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <select name="Assigned">
                        @foreach (var user in Open.FindAll())
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Create Bug" />
                    </div>
                </div>
            }</div>
    </section>
</div>