@model KanbanTracker.Models.ProjectViewModel

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Create a new project</h1>
            </hgroup>
            @using (Html.BeginForm("Create", "Projects", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" data-val="true"
                               data-val-required="The Owner field is required." id="Owner" name="Owner" type="hidden" value="@KanbanTracker.Account.User.CurrentUser.Id" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DueDate, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.DueDate, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Create project" />
                    </div>
                </div>
            }</div>
    </section>
</div>