@using System.Collections
@using KanbanTracker.Classes
@using KanbanTracker.Models
@using MongoDB.Bson
@using MongoDB.Driver

@functions {
    public MongoCollection<Project> Open;
}

@{
    Open = ProjectDb.Open();
    var p = (Project) Open.FindOneById(ObjectId.Parse(@ViewBag.id));
    var s = p.Stories;
    var b = p.Bugs;
}

<div class="content-wrapper">
    <h1>@p.Title</h1>
    <p>Description: @p.Description</p>
    <p>Creator: @p.Owner</p>
    <p>Due Date: @p.DueDate</p>
</div>

<div class="content">
    
    @if (s != null)
    {
        <div class="backlog sections">
            <h4>Backlog</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "backlog")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="readytogo sections">
            <h4>Ready to go</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "readytogo")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="development sections">
            <h4>Development</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "development")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="codereview sections">
            <h4>Code Review</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "codereview")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="testing sections">
            <h4>Testing</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "testing")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="complete sections">
            <h4>Complete</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "complete")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="accepted sections">
            <h4>Accepted</h4>
            @if ("54a4d1d0d7aa0b1ae48da9f4" == KanbanTracker.Classes.User.CurrentUser.Id)
            {
                foreach (var story in s)
                {
                    if (story.Status == "accepted")
                    {
                        <div class="cards">
                            <div class="card">
                                <a href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p>@story.Description</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>

    }
    
    <a href="/projects/story_create/@p.Id">Add story</a>
</div>