@using KanbanTracker.Classes
@using KanbanTracker.Models
@using MongoDB.Bson
@using MongoDB.Driver
@functions {
    public MongoCollection<Project> Open;

    public static string WordLimit(string text)
    {
        if (text.Length <= 70) return text;
        string output = text.Substring(0, Math.Min(text.Length, 70));
        return output + "...";
    }

}

@{
    Open = ProjectDb.Open();
    var p = (Project) Open.FindOneById(ObjectId.Parse(@ViewBag.id));
    List<Story> s = p.Stories;
    List<Bug> b = p.Bugs;

    int backlogCount = s.Count(i => i.Status == "backlog") + b.Count(i => i.Status == "backlog");
    int readyCount = s.Count(i => i.Status == "readytogo") + b.Count(i => i.Status == "readytogo");
    int developmentCount = s.Count(i => i.Status == "development") + b.Count(i => i.Status == "development");
    int codeCount = s.Count(i => i.Status == "codereview") + b.Count(i => i.Status == "codereview");
    int testingCount = s.Count(i => i.Status == "testing") + b.Count(i => i.Status == "testing");
    int completeCount = s.Count(i => i.Status == "complete") + b.Count(i => i.Status == "complete");
    int acceptedCount = s.Count(i => i.Status == "accepted") + b.Count(i => i.Status == "accepted");

    var commentList = new List<Comment>();
    int commentCount = 0;

    foreach (Bug bug in b)
    {
        commentList.AddRange(bug.Comments);
    }

    foreach (Story story in s)
    {
        commentList.AddRange(story.Comments);
    }

    IOrderedEnumerable<Comment> comments = commentList.OrderByDescending(d => d.Created);
}

<div class="content-wrapper">
    <h1>@p.Title</h1>
    <p>Description: @p.Description</p>
    <p>Creator: @KanbanTracker.Account.User.GetUserFromId(@p.Owner)</p>
    <p>Due Date: @p.DueDate</p>
</div>

<div class="content">
    
    @if (s != null)
    {
        <div class="backlog sections">
            <h4>(@backlogCount) Backlog</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "backlog")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "backlog")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="readytogo sections">
            <h4>(@readyCount) Ready to go</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "readytogo")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "readytogo")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="development sections">
            <h4>(@developmentCount) Development</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "development")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "development")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="codereview sections">
            <h4>(@codeCount) Code Review</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "codereview")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "codereview")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="testing sections">
            <h4>(@testingCount) Testing</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "testing")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "testing")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="complete sections">
            <h4>(@completeCount) Complete</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "complete")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "complete")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="accepted sections">
            <h4>(@acceptedCount) Accepted</h4>
            @if (true)
            {
                foreach (Story story in s)
                {
                    if (story.Status == "accepted")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="story">Story</div>
                                <a class="elementTitle" href="/projects/story_edit/@p.Id?storyId=@story.Id"><h5>@story.Title</h5></a>
                                <p class="describe">@WordLimit(@story.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@story.Assigned)</div>
                            </div>
                        </div>
                    }
                }

                foreach (Bug bug in b)
                {
                    if (bug.Status == "accepted")
                    {
                        <div class="cards">
                            <div class="card">
                                <div class="bug">Bug</div>
                                <a class="elementTitle" href="/projects/bug_edit/@p.Id?storyId=@bug.Id"><h5>@bug.Title</h5></a>
                                <p class="describe">@WordLimit(@bug.Description)</p>
                                <div class="assigned">@KanbanTracker.Account.User.GetUserFromId(@bug.Assigned)</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    }
    
    <a class="addStory" href="/projects/story_create/@p.Id">Add story</a>
    <a class="addBug" href="/projects/bug_create/@p.Id">Add bug</a>
</div>
<div class="content-wrapper">
    <h2>Recent Activity</h2><hr/>
    @foreach (Comment comment in comments)
    {
        if (commentCount%2 == 0)
        {
            <div class="evenComment">
                <p>@comment.Created, @comment.Description</p>
                <sup>@KanbanTracker.Account.User.GetUserFromId(@comment.OwnerId)</sup>
            </div>
        }

        else
        {
            <div class="oddComment">
                <p>@comment.Created, @comment.Description</p>
                <sup>@KanbanTracker.Account.User.GetUserFromId(@comment.OwnerId)</sup>
            </div>
        }

        commentCount++;
    }
</div>