@using KanbanTracker.Classes
@using KanbanTracker.Models
@using MongoDB.Driver
@functions {
    public MongoCollection<Project> Open;
}

@{
    Open = ProjectDb.Open();
}

<div class="content-wrapper">
    <h1>Projects</h1>
    <table>
        <tr>
            <td>Title</td> 
            <td>Description</td>
            <td>Created</td>
            <td>Due Date</td>
            <td></td>
            <td></td>
        </tr>
    
        @foreach (Project project in Open.FindAll())
        {
            <tr>  
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.Created</td>
                <td>@project.DueDate</td>
                <td><a href="@Url.Action("dashboard", "projects")/@project.Id">View</a></td>
                <td><a href="@Url.Action("delete", "projects")/@project.Id">Delete</a></td>
            </tr>
        }
    
    </table>
</div>