<footer>
    <div class="content-wrapper">
        <a href="@Url.Action("index", "home")">Home</a>
        <a href="@Url.Action("index", "account")">Account</a>
        <a href="@Url.Action("login", "account")">Login</a>
        <a href="@Url.Action("logout", "account")">Logout</a>
        <a href="@Url.Action("register", "account")">Register</a>
        <a href="@Url.Action("wiki", "home")">Wiki</a>
    </div>    
</footer>